{% extends  'base.html' %}

{% block header %}
 	<h1>Partida: {{ partida.nomb|upper }}</h1>
 	<h3 >ID: <span id="codp">{{ partida.id }}</span></h3>
 	<div class="card">
    	<div class="card-body">     
    		<p>{{ partida.desc }}</p>
    	</div>
  	</div> 
{% endblock %}

{% block content %}
<div class="container">
		<div id="table_clon">
		    <table id="TablaClon" class="table">
		      	<tr class="hide" name="regn" >

					<td ><input type="number" name="name-NUM-id" value="0" id="id-NUM-id"></td>
					<td ><input type="number" name="name-NUM-codi" value="0" id="id-NUM-codi"></td>
					<td ><input type="number" name="name-NUM-codp" value="0" id="id-NUM-codp"></td>
					<td ><input type="number" name="name-NUM-cant" value=0 id="id-NUM-cant"></td>
		    		
		    		<td class="col-sm-1" ></td>
		    		<td class="col-sm-1" ></td>
					<td class="col-sm-4" title="Escriba la descripcion del producto..." data-toggle="tooltip"></td>
					<td class="col-sm-1"></td>
					<td class="col-sm-1" title="Escriba la cantida requerida del producto..." data-toggle="tooltip"></td>
					<td class="col-sm-2"></td>
					<td class="col-sm-2"></td>
		      	</tr>
		    </table>
	  	</div>
  	
  	  	<div id="table_materiales" class="table-editable">		  
			<div class="row">
				<div class="col-md-9">
		   	  		<div class="card bg-light text-dark">
		    			<div class="card-body">
		    				<button type="button" class="btn btn-link"  data-target="#__Materiales" data-toggle="collapse" style="font-size: 18px; font-weight: bold; font-style: Arial">MATERIALES</button>
		    			</div>
		  			</div>
				</div>	   		
		   		<div class="col-md-3">
		   	  		<div class="card bg-light text-dark">
		    			<div class="card-body"><p id="total_partida" style="font-size: 18px; text-align: right;font-weight: bold; font-style: Arial">0,00</p></div>
		  			</div>	
				</div>
		   </div>

		   <div id="__Materiales" class="collapse">
		   	 <table id="Materiales" class="table ">
				<thead >
		    		<tr>
<!--
		        		<th class="" style="color: black;"><span id="_Materiales" class="table-add glyphicon glyphicon-plus"></span></th>    			
-->
		    		    <th class="col-sm-1">ID_DE</th>
		    		    <th class="col-sm-1">CODI_DE</th>
					    <th class="col-sm-4">CODP_DE</th>
					    <th class="col-sm-1">CANT_DE</th>
		    		    <th class="col-sm-1">ID</th>
		    		    <th class="col-sm-1">CODIGO</th>
					    <th class="col-sm-4">DESCRIPCIÓN</th>
					    <th class="col-sm-1">UNIDAD</th>
					    <th class="col-sm-1">CANTIDAD</th>
					   	<th class="col-sm-2">PRECIO UNITARIO</th>
					   	<th class="col-sm-2">PRECIO TOTAL</th>
		      		</tr>
		    	</thead>
					<form method="POST" enctype="multipart/form-data" > 
					{% csrf_token %}
<!--
					{{ formset.management_form }}		    	
-->
		    	<tbody >
					
					{% for i in datos %}
						<tr name="regn" >
							<td ><input type="number" name="name-{{forloop.counter0}}-id" value={{ i.pdm_id }}  id="id-{{forloop.counter0}}-id"></td>
							<td ><input type="number" name="name-{{forloop.counter0}}-codi" value={{ i.pdm_codi }} id="id-{{forloop.counter0}}-codi"></td>
							<td ><input type="number" name="name-{{forloop.counter0}}-codp" value={{ i.pdm_codp }} id="id-{{forloop.counter0}}-codp"></td>
							<td ><input type="number" name="name-{{forloop.counter0}}-cant" value={{ i.pdm_cant|floatformat }} id="id-{{forloop.counter0}}-cant"></td>
							
							<td class="col-sm-1" >{{ i.ism_id }} </td>
							<td class="col-sm-1" >{{ i.ism_codigo }}</td>
							<td class="col-sm-4" title="Escriba la descripcion del producto..." data-toggle="tooltip">{{ i.ism_descrip }}</td>
							<td class="col-sm-1">{{ i.ism_umedida }}</td>
							<td class="col-sm-1" title="Escriba la cantida requerida del producto..." data-toggle="tooltip">{{ i.pdm_cant }}</td>
							<td class="col-sm-2">{{ i.ism_costo}}</td>
							<td class="col-sm-2">{{ i.ism_total }}</td>
						</tr>
					{% endfor %}


		    	</tbody>
						<button  style="display:none" id="EnviarDatos" type="submit" class="btn btn-primary" >EnviarDatos</button>
<!--
						{{ formsets }}  
-->
					</form>
		    </table>
		    
       		<button id="btnAgregar" name="Materiales" class="glyphicon glyphicon-plus"> </button>			
       		<button id="btnEliminar" name="Materiales" class="glyphicon glyphicon-remove"></button>    			

		   </div>	   
	  	</div>
	    
	  	<button id="export-btn" class="btn btn-primary">Export Data</button>
	  	<div id="linsumos"  style="width:70%; background-color:lightgray; display:none">
					<table id="TablaInsumos" class="table">
					<thead>
					    <tr>
					    	<th class="col-sm-1" >ID</th>
					    	<th class="col-sm-1" >CODIGO</th>
					    	<th class="col-sm-3">DESCRIPCION</th>
				            <th class="col-sm-1">U. MEDIDA</th>
				            <th class="col-sm-1">CANTIDAD</th>
				            <th class="col-sm-1">C. UMEDIDA</th>
				    		<th class="col-sm-1">C. MIN</th>
				    		<th class="col-sm-1">C. PROM</th>
				    		<th class="col-sm-1">C. MAX</th>
					    </tr>
					    
				    </thead>
				     <tbody> 
					 {% for i in insumos %}
							<tr id="insumo_{{ i.id }}" title="Presione para agregar a la partida" data-toggle="tooltip"  >
								<td >{{ i.id }}</td>
							    <td >{{ i.codigo }}</td>
							    <td >{{ i.descrip }}</td>
							    <td>{{ i.umedida }}</td>
							    <td>{{ i.cantd }}</td>
							    <td>{{ i.cmedida }}</td>
							    <td >{{ i.min }}</td>
							    <td >{{ i.prom }}</td>
							    <td>{{ i.max }}</td> 
							</tr>
					{% endfor %}
						</tbody>
				</table>
		</div>

</div>
	  	

<button type="button" class="btn btn-primary" id="myBtn3" style="display:none" >Guardar Datos</button>
<!-- Modal -->
<div class="modal fade " id="myModal3" role="dialog">
	<div class="modal-dialog modal-dialog-centered" role="document" id="dialogo">
		<!-- Modal content-->
		<div class="modal-content" id="dialogo">      
		    <div class="modal-header">
		          <h4 class="modal-title">Continuar o Guardar</h4>
		          <button type="button" class="close" data-dismiss="modal"> &times;</button>
		    </div>

		    <div class="modal-body">
		        <p>Desea guardar los cambios realizados?.</p>	
		    </div>

		    <div class="modal-footer">
		        <button type="button" class="btn btn-danger" data-dismiss="modal">No Guardar</button>
		    	<form method="post">
					{% csrf_token %}
						<input id="registros" type="text" name="registros">	
					<button id="benviar" type="submit" class="btn btn-primary" >Guardar y Continuar</button>  
    			</form>
		    </div>
		</div>
    </div>
</div>

{% endblock %}
