{% extends 'base.html' %}

{% block header %}
	<h3>Cliente</h3>
{% endblock %}
{% block content %}
<div class="container">
 	<div class="card">
    	<div class="card-body">     
    		<h3>Proyecto </h3>
    		<p>Descripcion del proyecto</p>
    	</div>
  	</div>
    
		  <h2>Basic Table</h2>
		  <p>The .table class adds basic styling (light padding and horizontal dividers) to a table:</p>            
		  <table class="table">
		    <thead>
		      <tr>
		        <th>Firstname</th>
		        <th>Lastname</th>
		        <th>Email</th>
		      </tr>
		    </thead>
		    <tbody>
		      <tr>
		        <td>John</td>
		        <td>Doe</td>
		        <td>john@example.com</td>
		      </tr>
		      <tr>
		        <td>Mary</td>
		        <td>Moe</td>
		        <td>mary@example.com</td>
		      </tr>
		      <tr>
		        <td>July</td>
		        <td>Dooley</td>
		        <td>july@example.com</td>
		      </tr>
		    </tbody>
		  </table>
</div>

    
{% endblock %}