{% extends 'base.html' %}

{% block header %}
	<h3>{{reg.cliente|upper }}</h3>
 	<div class="card">
    	<div class="card-body">     
    		<h3>{{ reg.proyecto | title }} </h3>
    		<p>{{ reg.descripcion }}</p>
    	</div>
  	</div>
{% endblock %}

{% block content %}

  <div class="container">  
   	<button type="button" class="btn btn-link" data-toggle="collapse" data-target="#demo">Documentación Asociada al Proyecto</button>
  	<div id="demo" class="collapse">
	    Lorem ipsum dolor sit amet, consectetur adipisicing elit,

		<h3> Especificaciones  
			<a style="font-size:small"  href="{% url 'especificaciones' reg.id %}" title="Agregar especificaciones al proyecto" data-toggle="tooltip">Agregar</a>
		</h3>
		<table class="table table-hover">
<!-- 		    <thead>
			    <tr>
		    		<th class="col-sm-3">Descripcion</th>
		            <th class="col-sm-7">Archivo</th>
		            <th class="col-sm-1">Acción</th> 
			    </tr>
		    </thead> -->
		    <tbody>
		    	{% for i in especificaciones %}
				    <tr>
				        <td>{{ i.descripcion }}</td>
				        <td><button type="button" class="btn btn-link">{{ i.archivo }}</button></td>
				        <td><button type="button" class="btn btn-link">ELIMINAR</button></td>
				    </tr>
			    {% endfor %}
		    </tbody>
		  </table>
		<h3> Planos  
			<a style="font-size:small"  href="{% url 'planos' reg.id %}" title="Agregar planos al proyecto" data-toggle="tooltip">Agregar</a>
		</h3>
		<ul class="list-group list-group-flush">
		<table class="table table-hover" >
 		    <thead>
			    <tr>
		    		<th class="col-sm-3">Descripcion</th>
		            <th class="col-sm-7">Archivo</th>
		            <th class="col-sm-1">Acción</th> 
			    </tr>
		    </thead> 
		    <tbody>
		     {% for i in planos %}
				    <tr>
				        <td>{{ i.descrip1 }}</td>
				        <td>{{ i.archivo1 }}</td>
				        <td> <a class="delete" href="{% url 'eliminarA' i.id %}" title="Eliminar" data-toggle="tooltip"><i class="material-icons">ELIMINAR</i></a>
				        </td>
				    </tr>
			    {% endfor %}
		    </tbody>
		  </table>
		</ul> 

<div id="resultado"></div>
	 </div>

      
</div>

    
{% endblock %}