{% extends 'base.html' %}

{% block header %}
	<h3>{{reg.cliente|upper }}</h3>
 	<div class="card">
    	<div class="card-body">     
    		<h3>{{ reg.proyecto | title }} </h3>
    		<p>{{ reg.descripcion }}</p>
    	</div>
  	</div>
{% endblock %}

{% block content %}

  <div class="container">  
   	<button type="button" class="btn btn-link" data-toggle="collapse" data-target="#demo">Documentación Asociada al Proyecto</button>
  	<div id="demo" class="">
		<h3> Especificaciones  
			<!-- <a style="font-size:small"  href="{% url 'especificaciones' reg.id %}" title="Agregar especificaciones al proyecto" data-toggle="tooltip">Agregar</a> -->
		</h3>
		<button type="button" class="btn btn-link" data-toggle="collapse" data-target="#cargarEspeci">Agregar</button>
		<div id="cargarEspeci" class="collapse">
				<table class="table">
					<thead>
					    <tr>
					    	<th class="col-sm-5">Tipo</th>
					    	<th class="col-sm-5">Descripcion</th>
				            <th class="col-sm-6">Archivo</th>
				    		<th class="col-sm-0"></th>
				           	<th class="col-sm-1"></th>
					    </tr>
				    </thead> 
				    <tbody> 
						<form method="post" enctype="multipart/form-data">
							{% csrf_token %}
							<tr>
								<td>{{ form.tipo }}</td>
								<td>{{ form.descrip1 }}</td>
								<td>{{ form.archivo1 }}</td>
								<td style="visibility:hidden; height:0">{{ form.idproy }}</td>
								<td><button id="benviar" type="submit" class="btn btn-primary" >Cargar Archivos</button></td>
							</tr>
						</form>
					</tbody>
				</table>
		</div>
		<table class="table table-hover" >
 		    <thead>
			    <tr>
			    	<th class="col-sm-1">Tipo</th>
		    		<th class="col-sm-3">Descripcion</th>
		            <th class="col-sm-7">Archivo</th>
		            <th class="col-sm-1">Acción</th> 
			    </tr>
		    </thead> 
		    <tbody>
		     {% for i in especi %}
				    <tr>
				    	<td>{{ i.tipo }}</td>
				        <td>{{ i.descrip1 }}</td>
				        <td>{{ i.archivo1 }}</td>
				        <td> <a class="delete" href="{% url 'eliminarA' i.id %}" title="Eliminar" data-toggle="tooltip"><i class="material-icons">&#xE872;</i></a>
				        </td>
				    </tr>
			    {% endfor %}
		    </tbody>
		 </table>
 
		<h3> Planos </h3> 
		<button type="button" class="btn btn-link" data-toggle="collapse" data-target="#cargarPlano">Agregar</button>
		<div id="cargarPlano" class="collapse">
				<table class="table">
					<thead>
					    <tr>
					    	<th class="col-sm-5">Descripcion</th>
				            <th class="col-sm-6">Archivo</th>
				    		<th class="col-sm-0"></th>
				            <th class="col-sm-0"></th>
				           	<th class="col-sm-1"></th>
					    </tr>
				    </thead> 
				    <tbody> 
						<form method="post" enctype="multipart/form-data">
							{% csrf_token %}
							<tr>
								<td>{{ form.descrip1 }}</td>
								<td>{{ form.archivo1 }}</td>
								<td style="visibility:hidden; height:0">{{ form.idproy }}</td>
								<td style="visibility:hidden; height:0">{{ form.tipo }}</td>
								<td><button id="benviar" type="submit" class="btn btn-primary" >Cargar Archivos</button></td>
							</tr>
						</form>
					</tbody>
				</table>
		</div>
		<table class="table table-hover" >
 		    <thead>
			    <tr>
		    		<th class="col-sm-3">Descripcion</th>
		            <th class="col-sm-8">Archivo</th>
		            <th class="col-sm-1">Acción</th> 
			    </tr>
		    </thead> 
		    <tbody>
		     {% for i in planos %}
				    <tr>
				        <td>{{ i.descrip1 }}</td>
				        <td>{{ i.archivo1 }}</td>
				        <td> <a class="delete" href="{% url 'eliminarA' i.id %}" title="Eliminar" data-toggle="tooltip"><i class="material-icons">&#xE872;</i></a>
				        </td>
				    </tr>
			    {% endfor %}
		    </tbody>
		 </table>
 
	 </div>

	<a class="" href="{% url 'itemizado' id_proyecto %}" title="Itemizado" data-toggle="tooltip">Itemizado</a>
      
</div>

    
{% endblock %}