{% extends  'base.html' %}

{% block header %}
	<h3>{{ form.cliente|upper }}</h3>
 	<div class="card">
    	<div class="card-body">     
    		<h3>{{ form.proyecto | title }} </h3>
    		<p>{{ form.descripcion }}</p>
    	</div>
  	</div>
{% endblock %}

{% block content %}
    <form   method="post" enctype='multipart/form-data' multiple="multiple">
		{% csrf_token %}
		{{ form.idproy }}
		<span style="font-weight: bold">ITEM: </span>{{ form.item }}
		<span style="font-weight: bold"><br>NOMBRE DE LA PARTIDA: </span>{{ form.part }}
		<span style="font-weight: bold"><br>DESCRIPCIÓN:</span>{{ form.desc }}
		<span style="font-weight: bold"><br>UNIDAD DE MEDIDA: </span>{{ form.unid }}
		<span style="font-weight: bold"><br>CANTIDAD</span>{{ form.cant }}
		<br>
		<button id="benviar" type="submit" class="btn btn-primary" >Guardar Partida</button>
    </form>
    <a class="" href="{% url 'itemizado' idproy %}" title="Itemizado" data-toggle="tooltip">Cancelar</a>
{% endblock %}