{% extends 'base.html' %}

{% block header %}
	<h3>{{reg.cliente|upper }}</h3>
 	<div class="card">
    	<div class="card-body">     
    		<h3>{{ reg.proyecto | title }} </h3>
    		<p>{{ reg.descripcion }}</p>
    	</div>
  	</div>
{% endblock %}

{% block content %}
<div class="container">
	<h3>Planos</h3>
	<div class="col-md-11 col-md-offset-0">
		
			
			<table id="principal" class="table">
<!-- 			    <thead>
			      	<tr>
                        <th class="col-sm-2">FECHA</th>
                        <th class="col-sm-2">CLIENTE</th>
                        <th class="col-sm-6">PROYECTO</th>
			      	</tr>
			    </thead> -->
			    <tbody id="cuerpo">
			      		<tr id="patron" style="display:none;"> 
			      			<form method="post" enctype="multipart/form-data">
			      				{% csrf_token %}
			      				<td>{{ form.idproy }}</td>
				      			<td>{{ form.archivo }}</td>
				        		<td>{{ form.descripcion }}</td>
				        		<td>{{ form.tipo }}</td>
					      		<td style="display:none";><button id="bpatron" class="bpatron" type="submit" onclick="console.log('Enviando datos')" style="visibility:hidden; height:0">Upload</button></td>
							</form>
			      		</tr>
			      		<tr id="1" > 
			      			<form method="post" enctype="multipart/form-data" onsubmit="console.log('Enviando datos ID: 1')">
			      				{% csrf_token %}
				      			<td>{{ form.idproy }}</td>
				      			<td>{{ form.archivo }}</td>
				        		<td>{{ form.descripcion }}</td>
				        		<td>{{ form.tipo }}</td>
				      			<td><button class="oculto" type="submit"  style="visibility:hidden; height:0">Upload</button></td>
							</form>
			      		</tr> 
			      		<tr id="2" > 
			      			<form method="post" enctype="multipart/form-data" onsubmit="console.log('Enviando datos ID: 2')">
			      				{% csrf_token %}
				      			<td>{{ form.idproy }}</td>
				      			<td>{{ form.archivo }}</td>
				        		<td>{{ form.descripcion }}</td>
				        		<td>{{ form.tipo }}</td>
				      			<td><button class="oculto" type="submit"  style="visibility:hidden; height:0">Upload</button></td>
							</form>
			      		</tr> 
			      		<tr id="3" > 
			      			<form method="post" enctype="multipart/form-data" onsubmit="console.log('Enviando datos ID: 3')">
			      				{% csrf_token %}
				      			<td>{{ form.idproy }}</td>
				      			<td>{{ form.archivo }}</td>
				        		<td>{{ form.descripcion }}</td>
				        		<td>{{ form.tipo }}</td>
				      			<td><button class="oculto" type="submit"  style="visibility:hidden; height:0">Upload</button></td>
							</form>
			      		</tr>
			    </tbody>
			 </table>
			 <button id="bagregar" type="button" class="btn btn-primary" onclick="agregar_archivos()">Agregar Archivos</button>
			<button id="benviar" type="button" class="btn btn-primary" onclick="enviar_archivos()">Cargar Archivos</button>
	</div>
</div>


    
{% endblock %}