{% extends 'base.html' %}

{% block header %}
	<h3>{{reg.cliente|upper }}</h3>
 	<div class="card">
    	<div class="card-body">     
    		<h3>{{ reg.proyecto | title }} </h3>
    		<p>{{ reg.descripcion }}</p>
    	</div>
  	</div>
{% endblock %}

{% block content %}
<div class="container">
	<h3>Planos</h3>
	<div class="col-md-11 col-md-offset-0">
		<form id="fenviar" method="POST" action="#" enctype="multipart/form-data" >
			{% csrf_token %}
			<input type="hidden" id="csrf_token" value="{{ csrf_token }}"/>
			<div id="agregar_planos" class="form-group">
				<div id="f1" class="input-group input-file" name="Fichier1">
					<span class="input-group-btn">
		        		<button class="btn btn-default btn-primary" type="button" onclick="bs_input_file()">Agregar</button>
		    		</span>
		    		<input type="text" class="form-control" placeholder='Seleccionar archivo...' />
		    		<span class="input-group-btn">
     			 		<button class="btn btn-default btn-choose" type="button">Limpiar</button>
		    		</span>
				</div>
			</div>

			 <!-- <button class="btn btn-primary" onclick="enviar()" >Cargar Archivos</button> -->
			 <button type="submit" class="btn btn-primary">Cargar Archivos</button>
		</form>
	</div>
</div>


    
{% endblock %}