{% extends  'base.html' %}

{% block header %}
<h3>AGREGAR VARIABLE DE CONFIGURACION</h3>
<!--    <h3>{{ form.cliente|upper }}</h3>
    <div class="card">
        <div class="card-body">     
            <h3>{{ form.proyecto | title }} </h3>
            <p>{{ form.descripcion }}</p>
        </div>
    </div> -->
{% endblock %}

{% block content %}
    <form   method="post" enctype='multipart/form-data' multiple="multiple">
        {% csrf_token %}
		{{ form.as_table }}
        <button type="submit"> Guardar</button>
        <a href="{% url 'inicio_conf' %}" class="btn btn-info" role="button">Atras</a>
    </form>


{% endblock %}
