{% extends  'base.html' %}



{% block content %}
<div class="container-fluid" >
	<br>
	<h1 class="display-5">Costos Adicionales</h1>
</div>

<div class="container-fluid">

    <a href="{% url 'agregar_conf' %}" class="btn btn-primary" role="button">Agregar Costos Adicionales</a>
    <table id="Listado" class="table table-hover table-bordered small">
        <thead class="thead-dark" style="font-size: 24px; font-weight: bold; font-style: Arial">
            <tr>
<!--
                <th></th>
                <th>NOMBRE</th>
                <th>UNIDAD DE MEDIDA</th>
                <th>COSTO/MEDIDA</th>
                <th>TIPO DE ITEM</th>
                <th>REFERENCIA</th>
-->
                <th></th>
                <th>DESCRIPCION</th>
                <th>PORCENTAJE</th>
            </tr>    
        </thead>
        <tbody style="font-size: 18px; font-style: Arial">
                {% for reg in registro %}
					<tr>
						<td>
                            <a class="edit" href="{% url 'editar_conf' idconf=reg.id %}" title="Editar" data-toggle="tooltip" ><i class="fa fa-edit fa-1x" aria-hidden="true" style="color:green"></i></a>
                            <a class="delete" href="{% url 'eliminar_conf' idconf=reg.id %}" title="Eliminar" data-toggle="tooltip"><i class="fa fa-trash fa-1x" aria-hidden="true" style="color:red"></i> </a>
                        </td>
						<td >{{ reg.descripcion }}</td>
						<td >{{ reg.porcentaje }}</td>
<!--
						<td >{{ reg.cumedida }}</td>
						<td >{{ reg.tipo }}</td>
						<td >{{ reg.referencia }}</td>
-->
					</tr>
                {% endfor %}
        </tbody>
                
    </table>  
   
</div>


{% endblock %}
