{% extends  'base.html' %}



{% block content %}

<br>
<h1 class="display-4">ANTOJOS SIN LÍMITES</h1>
 <p class="text-right font-weight-bold font-italic" style="font-size: 28px;">El placer de disfrutar lo inimaginable.... </p>


<div class="container-fluid" name="Inicio">
	<br>
	 <div class="row">	
		
		<div class="col-xl-3 col-md-6 mb-4">
			<div class="card border-left-primary shadow h-100 py-2">
				<a  href="{% url 'inicio_clientes' %}" class="card-link">
					<div class="card-body">
						<div class="row no-gutters align-items-center">
							<div class="col mr-2">
								<div class="text-xs font-weight-bold text-primary text-uppercase mb-1">CLIENTES</div>
								<div class="h5 mb-0 font-weight-bold text-gray-800">{{ num_clientes }}</div>
							</div>
							<div class="col-auto"> 
								<i class="fas fa-calendar fa-2x text-gray-300"></i>
							</div>
						</div>
					</div>
				</a>
			</div>
		</div>
		
		<div class="col-xl-3 col-md-6 mb-4">
			<div class="card border-left-primary shadow h-100 py-2">
				<a  href="{% url 'inicio_ventas' %}" class="card-link">
					<div class="card-body">
						<div class="row no-gutters align-items-center">
							<div class="col mr-2">
								<div class="text-xs font-weight-bold text-primary text-uppercase mb-1">VENTAS</div>
								<div class="h5 mb-0 font-weight-bold text-gray-800">{{ num_ventas }}</div>
							</div>
							<div class="col-auto"> 
								<i class="fas fa-calendar fa-2x text-gray-300"></i>
							</div>
						</div>
					</div>
				</a>
			</div>
		</div>
		
		<div class="col-xl-3 col-md-6 mb-4">
			<div class="card border-left-primary shadow h-100 py-2">
				<a  href="{% url 'inicio_producto' %}" class="card-link">
					<div class="card-body">
						<div class="row no-gutters align-items-center">
							<div class="col mr-2">
								<div class="text-xs font-weight-bold text-primary text-uppercase mb-1">PRODUCTOS</div>
								<div class="h5 mb-0 font-weight-bold text-gray-800">{{ num_productos }}</div>
							</div>
							<div class="col-auto"> 
								<i class="fas fa-calendar fa-2x text-gray-300"></i>
							</div>
						</div>
					</div>
				</a>
			</div>
		</div>
		
		<div class="col-xl-3 col-md-6 mb-4">
			<div class="card border-left-primary shadow h-100 py-2">
				<a  href="{% url 'inicio_partida' %}" class="card-link">
					<div class="card-body">
						<div class="row no-gutters align-items-center">
							<div class="col mr-2">
								<div class="text-xs font-weight-bold text-primary text-uppercase mb-1">PARTIDAS</div>
								<div class="h5 mb-0 font-weight-bold text-gray-800">{{ num_partidas }}</div>
							</div>
							<div class="col-auto"> 
								<i class="fas fa-calendar fa-2x text-gray-300" style="color: red"></i>
							</div>
						</div>
					</div>
				</a>
			</div>
		</div>

		<div class="col-xl-3 col-md-6 mb-4">
			<div class="card border-left-primary shadow h-100 py-2">
				<a  href="{% url 'inicio_mate' %}" class="card-link">
					<div class="card-body">
						<div class="row no-gutters align-items-center">
							<div class="col mr-2">
								<div class="text-xs font-weight-bold text-primary text-uppercase mb-1">INSUMOS</div>
								<div class="h7 mb-0  text-gray-800" style="color: black">Ingredientes: {{ num_insumos }}</div>
								<div class="h7 mb-0  text-gray-800" style="color: black">Matereles: {{ num_materiales }}</div>
							</div>
							<div class="col-auto"> 
								<i class="fas fa-calendar fa-2x text-gray-300"></i>
							</div>
						</div>
					</div>
				</a>
			</div>
		</div>
	</div>
	<br>
	
				<div class="col-md-12">
                    <table class="table table-hover">
                        <thead class="thead-light" style="font-size: 16px; font-style: Arial">
                            <tr>
                                <th style=" width: 5%; display:none;" >ID</th>
                                <th style=" width: 15%;">CLIENTE</th>
                                <th style=" width: 15%;">PRODUCTO</th>
                                <th style=" width: 5%;" >CANT</th> 
                                <th style=" width: 5%;" >DÍAS</th> 
                                <th style=" width: 15%;">FECHA DE ENTREGA</th> 
                                <th style=" width: 25%;">DIRECCION DE ENTREGA</th>   
                                <th style=" width: 15%;">ESTADO</th>   
                             </tr>
                        </thead>
                        {% for reg in ventas_por_entregar %}   
                            <tbody id="entregas" style="font-size: 14px; font-style: Arial">
                                <tr style="font-size: 12px; font-style: Arial">
									 <td style="display:none;">{{ reg.idventa }}</td> 
									 <td ><a class="edit" href="{% url 'detallar_clientes' idclie=reg.idclie %}" title="Detallar Cliente" data-toggle="tooltip" >{{ reg.cliente | upper }}</a></td> 
									 <td ><a class="edit" href="{% url 'detallar_producto' idprod=reg.idprod %}" title="Detallar Producto" data-toggle="tooltip" >{{ reg.nprod | upper }}</a></td> 
                                     <td >{{ reg.cantidad }}</td> 
                                     <td >{{ reg.dias }}</td> 
                                     <td >{{ reg.fhentr | date:"d-m-Y" }} {{ reg.fhentr|time:"H:i" }}</td> 
                                     <td >{{ reg.direccion }}</td>	 
                                     <td ><a class="edit" href="{% url 'estado_ventas' idprod=reg.idprod%}" title="ESTADO DEL PRODUCTO" data-toggle="tooltip" >{{ reg.estado }}</a></td>	 
                                </tr>
                            </tbody>
                        {% endfor %}
                    </table>	   
            </div> 
 
	
</div>                                

{% endblock %}
