<!-- {% load static %} -->
<!DOCTYPE html>
<html lang="es">
<head> 
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/Asl.css' %}">
<!--
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
-->
	<link rel="stylesheet" type="text/css" href="{% static 'css/jquery-ui.min.css' %}">	
	<link rel="stylesheet" type="text/css" href="{% static 'css/all.min.css' %}">	 

	<title>
		{% block title %} Documento {% endblock %}
	</title>
</head>
<body>

	{% block header %}
	<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
	  <ul class="navbar-nav">
		<li class="nav-item active">
		  <a class="nav-link" href="{% url 'inicio_principal' %}">Inicio</a>
		</li>
		<li class="nav-item active">
		  <a class="nav-link" href="{% url 'inicio_ventas' %}">Ventas</a>
		</li>
		<li class="nav-item active">
		  <a class="nav-link" href="{% url 'inicio_clientes' %}">Clientes</a>
		</li>
		<li class="nav-item active">
		  <a class="nav-link" href="{% url 'inicio_producto' %}">Productos</a>
		</li>
		<li class="nav-item active">
		  <a class="nav-link" href="{% url 'inicio_partida' %}">Partidas</a>
		</li>
		<li class="nav-item active">
		  <a class="nav-link " href="{% url 'inicio_mate' %}">Insumos</a>
		</li>
		<li class="nav-item active">
		  <a class="nav-link " href="{% url 'inicio_conf' %}">Costos Adicionales</a>
		</li>
		<li class="nav-item active">
		  <a class="nav-link " href="javascript:history.back()">Pantalla Anterior</a>
		</li>
		<li class="nav-item active" >
			<div class="container-fluid" style="align-content: right;"> 
				<a class="nav-link active" href="{% url 'cerrar_principal' %}">Cerrar Sesion</a>
			</div>
		</li>
	  </ul>
</nav>	
	{% endblock %}

	{% block content %}
		<p>bloque de contenido</p>
	{% endblock %}

	{% block footer %}
	<br>
	<br>

	<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
	  <ul class="navbar-nav">
		<li class="nav-item active">
		  <a class="nav-link" href="{% url 'inicio_principal' %}">Inicio</a>
		</li>
		<li class="nav-item active">
		  <a class="nav-link" href="{% url 'inicio_clientes' %}">Clientes</a>
		</li>
		<li class="nav-item active">
		  <a class="nav-link" href="{% url 'inicio_producto' %}">Productos</a>
		</li>
		<li class="nav-item active">
		  <a class="nav-link" href="{% url 'inicio_partida' %}">Partidas</a>
		</li>
		<li class="nav-item active">
		  <a class="nav-link " href="{% url 'inicio_mate' %}">Insumos</a>
		</li>
		<li class="nav-item active">
		  <a class="nav-link " href="{% url 'inicio_conf' %}">Costos Adicionales</a>
		</li>
		<li class="nav-item active">
		  <a class="nav-link " href="javascript:history.back()">Pantalla Anterior</a>
		</li>
		<li class="nav-item active" >
			<div class="container-fluid" style="align-content: right;"> 
				<a class="nav-link active" href="{% url 'cerrar_principal' %}">Cerrar Sesion</a>
			</div>
		</li>
	  </ul>
</nav>	
	{% endblock %}

	<script type="text/javascript" src="{% static 'js/jquery-3.5.1.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/jquery-ui.min.js' %}"></script>
<!--
	<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
-->
<!--
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
-->
  
<!--
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
-->
  <script type="text/javascript" src="{% static 'js/jquery-3.5.1.min.js' %}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<!--
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
-->
	<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/Herramientas-v7.js' %}"></script>
	
<!--
	<script type="text/javascript" src="{% static 'js/plotly-latest.min.js' %}"></script>
-->
</body>
</html> 
