{% extends  'base.html' %}


{% block content %}
<br>
	<h2>Nuevo Item {{ codigo }}</h2>
	
	<br>
    <form   method="post" enctype='multipart/form-data' multiple="multiple">
        {% csrf_token %}
        <!-- {{ form.as_table }} -->
            <table id="Listado" class="table table-hover table-bordered small">
                <tbody style="font-size: 20px; font-weight: bold; font-style: Arial" >
                    {% if "PER-" in codigo %}
						<tr><td  >CODIGO:</td><td  >{{ form.codigo }}</td></tr>
						<tr><td  >NOMBRE:</td><td  >{{ form.descrip }}</td></tr>
						<tr><td  >TIPO: </td>  <td  >{{ form.tipo }}   </td></tr> 
						<tr><td  >UNIDAD DE MEDIDA: </td>  <td  >{{ form.umedida }}</td></tr> 
						<tr><td  >CANTIDAD: </td>  <td  >{{ form.cantd }}</td></tr> 
						<tr><td  >COSTO POR HORAS: </td>  <td  >{{ form.costop }}   </td></tr> 
						<tr><td  >COSTO DEL TRANSPORTE: </td>  <td  >{{ form.costot }}   </td></tr> 
						<tr><td  >INVENTARIO: </td>  <td  >{{ form.inven }}</td></tr> 
					{% else %}
						<tr><td  >CODIGO:</td><td  >{{ form.codigo }}</td></tr>
						<tr><td  >DESCRIPCIÓN:</td><td  >{{ form.descrip }}</td></tr>
						<tr><td  >TIPO: </td>  <td  >{{ form.tipo }}   </td></tr> 
						<tr><td  >UNIDAD DE MEDIDA: </td>  <td  >{{ form.umedida }}</td></tr> 
						<tr><td  >CANTIDAD: </td>  <td  >{{ form.cantd }}</td></tr> 
						<tr><td  >COSTO DEL PRODUCTO: </td>  <td  >{{ form.costop }}   </td></tr> 
						<tr><td  >COSTO DEL TRANSPORTE: </td>  <td  >{{ form.costot }}   </td></tr> 
						<tr><td  >INVENTARIO: </td>  <td  >{{ form.inven }}</td></tr> 
					{% endif %}
                </tbody>
            </table> 

        <button type="submit"> Guardar</button>
        <a href="{% url 'inicio_mate' %}" class="btn btn-info" role="button">Atras</a>
    </form>


{% endblock %}
