{% extends  'base.html' %}

{% block content %}
<br>
<!--
<h1>Detalles de Factura</h1>
-->
<div class="container-fluid">
	
	<div class="row">
		<div class="col-xl-6 col-md-6 ">
			<div class="text-left">
				<h1>Detalles de Factura</h1>
			</div>	
		</div>
		
		<div class="col-xl-6 col-md-6 .justify-content-end">
			<div class="text-right">
				<a href="javascript:history.back()" title="Ir a listado de Clientes" data-toggle="tooltip" ><button type="button" class="btn btn-primary "> REGRESAR</button></a> 
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xl-6 col-md-6 ">
			<h5 class="display-7"><strong>Factura N°:</strong> {{ factura.numero }}</h5>	
			
			{% if total_agregado !=  factura.compra_total %}
				<h5 class="display-7" style='color:red'><strong >Monto Total:</strong> {{ factura.compra_total }} [Agregado: {{ total_agregado }} ]</h5>
			{% else %}
				<h5 class="display-7" ><strong >Monto Total:</strong> {{ factura.compra_total }}</h5>
			{% endif %}
			
			<h5 class="display-7"><strong>Costo por Transporte:</strong> {{ factura.compra_total }}</h5>	
			<h5 class="display-7"><strong>Fecha de Compra:</strong> {{ factura.fhfactu | date:"d-m-Y"}}</h5>		
		</div>
		<div class="col-xl-6 col-md-6 ">
			<h5 class="display-7"><strong>Observaciones:</strong> </h5>	
			<p class="display-7"> {{ factura.observ }}</p>		
		
		</div>
	</div>
 <br>
<!--
    
	<input class="form-control" id="patron" type="text" placeholder="Escriba para filtrar...">
	<br>
-->


<!--
			<form   method="post" enctype='multipart/form-data' multiple="multiple">
				
				{% csrf_token %}
				<div class="row">
				<div class="col-xl-6 col-md-6 mb-4">
					<input list="items" name="items" class="form-control" id="id_item" placeholder="Escriba para seleccionar o agregar item">
					<datalist name="item" id="items" >
						{% for i in items %}
							<option value= "{{i.id}}_{{i.descrip}}" >
						{% endfor %}
					</datalist>
				</div> 
				
				<div class="col-xl-6 col-md-6 mb-4">
					<button type="submit"  class="btn btn-primary " style="width:100%">Agregar Item</button>			
				</div>
			</div>
			</form>
-->

		
    <table id="Listado" class="table table-hover table-bordered small">
        <thead class="thead-dark" style="font-size: 18px; font-weight: bold; font-style: Arial">
            <tr>
<!--
                <th style=" width: 5%; " ></th>
-->
                <th style=" width: 5%; " >ID</th>
                <th style=" width: 35%; ">DESCRIPCION</th>
                <th style=" width: 10%; ">U. MEDIDA</th>
                <th style=" width: 10%; ">CANTIDAD</th> 
                <th style=" width: 10%; ">PRODUCTO</th>
                <th style=" width: 10%; ">TRANSPORTE</th>
                <th style=" width: 10%; ">TOTAL</th>

            </tr>    
        </thead>
        <tbody id="Listado-body" style="font-size: 14px; font-style: Arial" >
                {% for i in datos %}
                <tr>
                    <td >{{ i.idinsm }}</td>
                    <td >{{ i.descripcion | upper }}</td>
                    <td >{{ i.umedida }}</td>
                    <td >{{ i.cantidad }}</td>
                    <td >{{ i.costop |floatformat:2}}</td>
                    <td >{{ i.costot |floatformat:2}}</td>
                    <td >{{ i.costo |floatformat:2}}</td>
                    
                </tr>
                {% endfor %}
        </tbody>
                
    </table>  
	<div class="row">
		<div class="col-xl-6 col-md-6 ">

		</div>
		
		<div class="col-xl-6 col-md-6 .justify-content-end">
			<div class="text-right">
				<a href="javascript:history.back()" title="Ir a listado de Clientes" data-toggle="tooltip" ><button type="button" class="btn btn-primary "> REGRESAR</button></a> 
			</div>
		</div>
	</div>

</div>

{% endblock %}
