{% extends  'base.html' %}

{% block header %}
	<br>
	<h1 class="display-5">Lista de Precios de Insumos y Servicios</h1>
<!--    <h3>{{ form.cliente|upper }}</h3>
    <div class="card">
        <div class="card-body">     
            <h3>{{ form.proyecto | title }} </h3>
            <p>{{ form.descripcion }}</p>
        </div>
    </div> -->
{% endblock %}

{% block content %}
<div class="container-fluid">
<!--
    <button type="submit" class="btn btn-default">Listar Insumos</button>
-->
    <a href="{% url 'agregar_mate' %}" class="btn btn-primary"  role="button">Agregar Insumo o Servicio</a>
    <table id="Listado" class="table table-hover table-bordered small">
        <thead class="thead-dark" style="font-size: 20px; font-weight: bold; font-style: Arial">
            <tr>
                <th style=" width: 5%;" >CODIGO</th>
                <th style=" width: 15%;" >FECHA INGRESO</th>
                <th style=" width: 20%;" >DESCRIPCIÓN</th>
                <th style=" width: 5%;" >UNIDAD</th>
                <th style=" width: 5%;" >CANTIDAD</th>
                <th style=" width: 5%;" >INVENTARIO</th>
                <th style=" width: 5%;" >TIPO</th>
                <th style=" width: 15%;" >DISTRIBUIDOR</th> 
                <th style=" width: 10%;" >COSTO</th>            
                <th style=" width: 5%;" >COSTO/MEDIDA</th>            
                <th style=" width: 10%;" >FECHA DE ACTUALIZACIÓN</th>
            </tr>    
        </thead>
        <tbody style="font-size: 18px; font-weight: bold; font-style: Arial" >
                {% for valor in regs %}
                <tr>
                    <td rowspan="6" >{{ valor.codigo }}</td>
                    <td rowspan="6" >{{ valor.fingso | date:" d-m-Y H:i" }}</td>
                    <td rowspan="6" >{{ valor.descrip }}</td>
                    <td rowspan="6" >{{ valor.umedida }}</td>
                    <td rowspan="6" >{{ valor.cantd }}</td>
                    <td rowspan="6" >{{ valor.inven }}</td>
                    <td rowspan="6" >{{ valor.tipo }}</td>
                </tr>
                <tr>
                    <td>{{ valor.distb1 }}</td>                    
                    <td>{{ valor.costo1 }}</td>
                    <td>{{ valor.cmedi1 }}</td>
                    <td>{{ valor.factu1 | date:" d-m-Y H:i" }}</td>
                </tr>
                <tr>
                    <td>{{ valor.distb2 }}</td>
                    <td>{{ valor.costo2 }}</td>
                    <td>{{ valor.cmedi2 }}</td>
                    <td>{{ valor.factu2 | date:" d-m-Y H:i"}}</td>
                </tr>
                <tr>
                    <td>{{ valor.distb3 }}</td>
                    <td>{{ valor.costo3 }}</td>
                    <td>{{ valor.cmedi3 }}</td>
                    <td>{{ valor.factu3 | date:" d-m-Y H:i"}}</td>
                </tr>
                <tr>
                    <td>{{ valor.distb4 }}</td>
                    <td>{{ valor.costo4 }}</td>
                    <td>{{ valor.cmedi4 }}</td>
                    <td>{{ valor.factu4 | date:" d-m-Y H:i"}}</td>
                </tr>
                <tr>
                    <td>{{ valor.distb5 }}</td>
                    <td>{{ valor.costo5 }}</td>
                    <td>{{ valor.cmedi5 }}</td>
                    <td>{{ valor.factu5 | date:" d-m-Y H:i"}}</td>
                </tr> 
                {% endfor %}
        </tbody>
                
    </table>  
   
</div>


{% endblock %}
