{% extends  'base.html' %}

{% block content %}
<div class="container-fluid">
	
<div class="container-fluid">
	<br>
	<h1 class="display-5">Lista de Personal</h1>
</div>
	<div class="container-fluid">
		<div class="row">
			<a href="{% url 'agregar_personal_mate' %}" class="btn btn-primary col-3 "  role="button">Agregar Personal</a> 
<!--
			<a href="{% url 'agregar_personal_mate' %}" class="btn btn-primary col-3 "  role="button">Agregar Personal</a> 
-->
			
		</div>
	</div>
  
    <br>
	<input class="form-control" id="patron" type="text" placeholder="Escriba para filtrar...">
	<br>
    <table id="Listado" class="table table-hover table-bordered small">
        <thead class="thead-dark" style="font-size: 18px; font-weight: bold; font-style: Arial; text-align: center;">
            <tr>
                <th style=" width: 5%; " ></th>
                <th style=" width: 5%; " >ID</th>
                <th style=" width: 5%; " >CODIGO</th>
                <th style=" width: 10%; ">NUMERO</th>
                <th style=" width: 10%; ">PRODUCTO</th>
                <th style=" width: 10%; ">TRNASPORTE</th>
                <th style=" width: 10%; ">TOTAL</th>
                <th style=" width: 20%;" >FECHA</th>
                <th style=" width: 30%;" >FACTURA</th>
            </tr>    
        </thead>
        <tbody id="Listado-body" style="font-size: 14px; font-style: Arial" >
                {% for i in facturas %}
					<tr>
						<td > 
							<a class="edit" href="{% url 'contenido_factura_mate' idfactu=i.id %}" title="Editar" data-toggle="tooltip" ><i class="fa fa-list fa-1x" style="color:green"></i></a>
						</td>
						<td >{{ i.id }}</td>
						<td >{{ i.codigo }}</td>
						<td >{{ i.numero }}</td>
						<td >{{ i.total |floatformat:2}}</td>
						<td >{{ i.transp |floatformat:2}}</td>
						<td >{{ i.compra_total }}</td>
						<td >{{ i.fhfactu | date:"d-m-Y"}} </td>
						<td > <a href="{% url 'descarga_factura' idfactu=i.id %}" download  class="btn btn-dark float-right" style="width:100%">Download</a></td>
						
					</tr>
                {% endfor %}
        </tbody>
                
    </table>  
   
</div>

{% endblock %}
