{% extends 'base.html' %}


{% block content %}	

<br>
 <div class="container-fluid">
	<h1 class="display-5">Listado de Partidas</h1>
</div>
    <div class="container-fluid">
		
    	<div class="row">
            <div class="col-md-12">   
                <a href="{% url 'nuevo_partida' %}"><button type="button" class="btn btn-primary">Crear Nueva Partida</button></a>
            </div>

    	</div>
    	<input class="form-control" id="patron" type="text" placeholder="Escriba para filtrar...">
        <div class="row">
			<div 	class="col-md-12">
                    <table class="table table-hover">
                        <thead class="thead-light">
                            <tr>
                                <th style=" width: 5%;"></th>
                                <th style=" width: 5%;">ID</th>
                                <th style=" width: 10%;">CÓDIGO</th>
                                <th style=" width: 25%;">PARTIDA</th> 
                                <th style=" width: 45%;">DESCRIPCIÓN</th> 
                                <th style=" width: 10%;">COSTO</th>   
                             </tr>
                        </thead>
                        {% for reg in obj %}   
                            <tbody id="Listado-body">
                                <tr style="font-size: 14px; font-style: Arial">
                                    <td >
                                      <a class="edit" href="{% url 'editar_partida' idpart=reg.id %}" title="Editar" data-toggle="tooltip" ><i class="fa fa-edit fa-1x" style="color:green"></i></a>
                                      <a class="delete" href="{% url 'eliminar_partida' idpart=reg.id %}" title="Eliminar" data-toggle="tooltip"><i class="fa fa-trash fa-1x" style="color:red"></i></a>
                                    </td>
									 <td >{{ reg.id }}</td>
                                     <td >{{ reg.codp }}</td>
                                     <td ><a class="edit" href="{% url 'detallar_partida' idpart=reg.id %}" title="Detallar Producto" data-toggle="tooltip" >{{ reg.nomb | upper }}</a></td> 
                                     <td >{{ reg.desc }}</td> 
                                     <td >{{ reg.cost }}</td> 
                                </tr>
                            </tbody>
                        {% endfor %}
                    </table>	   
            </div> 
        </div>
    </div>
{%endblock %}
